# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/

# Streamlit specific
.streamlit/
*.streamlit/
*.log
streamlit_app_temp_files/

# Operating System
.DS_Store
Thumbs.db
